.brickshealth1 {
    background-color: rgb(132, 48, 18);
    padding: 16px;
    color: white;
}

.brickshealth2 {
    text-align: center;
    font-size: 25px;
}

.brickshealth3 {
    text-transform: uppercase;
}